<ion-content class="messages-attachments-page-content">
  <ion-list class="attachments">
    <button ion-item class="attachment attachment-gallery" (click)="sendPicture()">
      <ion-icon name="images" class="attachment-icon"></ion-icon>
      <div class="attachment-name">Gallery</div>
    </button>

    <button ion-item class="attachment attachment-camera" (click)="takePicture()">
      <ion-icon name="camera" class="attachment-icon"></ion-icon>
      <div class="attachment-name">Camera</div>
    </button>

    <button ion-item class="attachment attachment-location" (click)="sendLocation()">
      <ion-icon name="locate" class="attachment-icon"></ion-icon>
      <div class="attachment-name">Location</div>
    </button>
  </ion-list>
</ion-content>