<ion-header>
  <ion-navbar color="whatsapp" class="messages-page-navbar">
    <ion-buttons>
      <img class="chat-picture" [src]="picture">
    </ion-buttons>

    <ion-title class="chat-title">{{title}}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only class="attach-button" (click)="showAttachments()"><ion-icon name="attach"></ion-icon></button>
      <button ion-button icon-only class="options-button" (click)="showOptions()"><ion-icon name="more"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="messages-page-content">
  <ion-scroll scrollY="true" class="messages">
    <div *ngFor="let day of messagesDayGroups | async" class="day-wrapper">
      <div *ngFor="let message of day.messages" class="message-wrapper">
        <div [class]="'message message-' + message.ownership">
          <div *ngIf="message.type == 'text'" class="message-content message-content-text">{{message.content}}</div>
          <div *ngIf="message.type == 'location'" class="message-content message-content-text">
            <sebm-google-map [zoom]="getLocation(message.content).zoom" [latitude]="getLocation(message.content).lat" [longitude]="getLocation(message.content).lng">
              <sebm-google-map-marker [latitude]="getLocation(message.content).lat" [longitude]="getLocation(message.content).lng"></sebm-google-map-marker>
            </sebm-google-map>
          </div>
          <img *ngIf="message.type == 'picture'" (click)="showPicture($event)" class="message-content message-content-picture" [src]="message.content">

          <span class="message-timestamp">{{ message.createdAt | amDateFormat: 'HH:mm' }}</span>

          <button ion-button icon-only clear  color="secondary"  *ngIf="message.senderId !== senderId" class="like-message" (click)="likeMessage(message._id)">
            <ion-icon name="arrow-up"><span *ngIf="message.likes > 1 ">{{message.likes}}</span></ion-icon>
          </button> 
          <button ion-button icon-only clear color="danger" *ngIf="message.senderId !== senderId" class="unlike-message" (click)="unlikeMessage(message._id)">
            <ion-icon name="arrow-down"><span *ngIf="message.unlikes > 1 ">{{message.unlikes}}</span></ion-icon>
          </button>

          <ion-icon name="arrow-up" color="secondary" *ngIf="message.senderId === senderId && message.likes > 0">{{message.likes}}</ion-icon>
          <ion-icon name="arrow-down" color="danger" *ngIf="message.senderId === senderId && message.unlikes > 0">{{message.unlikes}}</ion-icon>


        </div>
      </div>

      <div *ngIf="!day.today" class="day-timestamp">{{day.timestamp}}</div>

     <div class="message-content message-content-text" *ngIf="!!writingnow">{{writingnow}} is typing...</div>
     
    </div>
  </ion-scroll>
</ion-content>

<ion-footer>
  <ion-toolbar color="whatsapp" class="messages-page-footer" position="bottom">
    <ion-input [(ngModel)]="message" (keypress)="onInputKeypress($event)" class="message-editor" (focus)="userTyping(true)" (focusout)="userTyping(false)" placeholder="Type a message"></ion-input>

    <ion-buttons end>
      <button ion-button icon-only *ngIf="message" class="message-editor-button" (click)="sendTextMessage()">
        <ion-icon name="send"></ion-icon>
      </button>

      <button ion-button icon-only *ngIf="!message" class="message-editor-button">
        <ion-icon name="mic"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

<!-- (focusout)="userTyping(false)" -->