<ion-header>
  <ion-toolbar *ngIf="searching" color="whatsapp">
    <ion-searchbar
      autofocus
      class="seach-bar"
      color="whatsapp"
      [showCancelButton]="true"
      animated="true"
      (ionInput)="updateSubscription($event.target.value); searching = true;"
      (ionClear)="updateSubscription(undefined); searching = false;">
      </ion-searchbar>
  </ion-toolbar>

  <ion-toolbar *ngIf="!searching" color="whatsapp">
    <ion-title>New Chat</ion-title>

    <ion-buttons left>
      <button ion-button class="dismiss-button" (click)="viewCtrl.dismiss()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button class="search-button" (click)="searching = true"><ion-icon name="search"></ion-icon></button>
      <button ion-button class="start-chat" *ngIf="selectedUsers.length > 0" (click)="addChat()"><ion-icon name="chatbubbles"></ion-icon>&nbsp; Start Chat</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="new-chat">
  <ion-list no-lines>
    <ion-item *ngFor="let selectedUser of selectedUsers" class="users-items" >
      <img class="user-picture" [src]="getPic(selectedUser.profile.pictureId)">
      <h2 class="user-name">{{selectedUser.profile.name}}</h2>
      <button (click)="removeUser($index)">Remove</button> 
    </ion-item>
  </ion-list>  
  <ion-list class="users"> 
    <button ion-item *ngFor="let user of users | async" class="user" (click)="addChatUsers(user)">
      <img class="user-picture" [src]="getPic(user.profile.pictureId)">
      <h2 class="user-name">{{user.profile.name}}</h2>
    </button> 
  </ion-list> 
</ion-content>

<!-- (click)="addChat(user)" -->